/* Color Palette*/
/*
HSL
Sunglow: hsla(45, 100%, 60%, 1);
Tyrian Purple: hsla(308, 100%, 13%, 1);
Dark Imperial Blue: hsla(210, 60%, 24%, 1);
Dark Spring Green: hsla(147, 67%, 26%, 1);
Vivid Burgundy: hsla(351, 70%, 38%, 1);

RGB
Sunglow: rgba(255, 203, 53, 1);
Tyrian Purple: rgba(66, 0, 57, 1);
Dark Imperial Blue: rgba(24, 61, 97, 1);
Dark Spring Green: rgba(22, 110, 61, 1);
Vivid Burgundy: rgba(167, 29, 49, 1);

Hex
Sunglow: #ffcb35
Tyrian Purple: #420039
Dark Imperial Blue: #183d61
Dark Spring Green: #166e3d
Vivid Burgundy: #a71d31
*/

main, nav, aside, header, footer, article {
    display: block;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    line-height: normal;
}

html {
    background-color: #d2b48c;
    background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: calc(1.1em + 0.5vw);
    overflow-x: hidden;
    box-sizing: border-box;
}

/*Drop down NAVIGATION formatting*/

nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.main-nav,
.drop-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background: hsla(351, 70%, 38%, 1);
    float: left;
    width: 100%;

    z-index: 10;
}

.main-nav > li {
    float: left;
    border-right: solid 1px black;
}

nav li:hover, nav li:focus {
    background: rgba(255, 203, 53, .75);
    color: #000;
}

.main-nav a {
    display: block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown:after {
    content: "\25BC";
    color: white;
    font-size: .5em;
    display: block;
    position: absolute;
    top: 38%;
    right: 12%;
}

.drop-nav{
    position: absolute;
    display: none;
}

.drop-nav li {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.dropdown:hover > .drop-nav {
    display: block;
}

nav a:active, #currentPage {
    background-color: rgba(255, 203, 53, 1);
    color: black;
}

/*@media all and (max-width: 800px) {
    nav ul{
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    nav ul{
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    nav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }


    nav li:last-of-type a {
        border-bottom: none;
    }
}*/

/* HEADER */
header {
    background-color: hsla(308, 100%, 13%, .95);
    background-image: url("img/headerbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 25px;
    border: 30px;
}

header h1 {
    color: white;
    font-size: 65px;
}

header p {
    color: white;
}

/* CONTENT */
.content {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: left;
}

/*@media all and (min-width: 600px) {
    aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    main    { flex: 3 0px; }
    aside { order: 1; }
    main    { order: 2; }
}*/

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, .5);
    margin: 20px auto;
}

main p {
    max-width: 800px;
    margin: 1rem;
}

main li {
    font-size: calc(10px + 0.5vw);
    font-family: "Raleway", "Lato", sans-serif;
}

.back2top {
    display: inline-block;
    text-decoration: none;
    color: #420039;
    font-size: calc(14px + 0.5vw);
    font-family: "Avenir Next LT W04 Light", "Avenir", "Futura", "Franklin Gothic Book", sans-serif;
    float: right;
}
.back2top:hover {
    text-decoration: underline;
    color: #a71d31;
}

/* FOOTER */
footer {
    flex-shrink: 0;
    background-color: #420039;
    text-align: center;
    height: 10vh;
    border-top: 5px solid #a71d31;
}

footer small {
    color: white;
}

/* TEXT */
p {
    font-size: calc(10px + 0.5vw);
    font-family: "Raleway","Lato", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Eagle Lake", serif;
    margin: 5px;
}

h2 {
    font-size: calc(48px + 0.5vw);
    text-align: center;
}

h3 {
    font-size: calc(32px + 0.5vw);
    display: inline-block;
}

h4 {
    font-size: calc(24px + 0.5vw);
}

/* Additional Formatting */
video {
    max-width: 800px;
    min-width: 600px;
}

#miodrendMap {
    width: 100%;
    max-width: 400px;
}

section img {
    max-width: 100%;
}

section {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

section p, section figure {
    margin: 15px 0;
}

figcaption {
    text-align: center;
    color: #420039;
}

/* TABLE */
table {
    font-family: "Raleway", "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

caption {
    font-family: "Eagle Lake", serif;
}

td, th {
    font-family: "Raleway", "Lato", sans-serif;
    border: 1px solid black;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even){
    background-color: #d1d1d1;
}

tr:hover {
    background-color: hsla(210, 60%, 24%, 1);
}

tr:hover > td {
    color: white;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a71d31;
    color: white;
}

/* FORM */
/*
form {
    color: #5D6063;
    background-color: #f2f2f2;
    font-family: "Raleway", "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 2px auto;
}

!*.speaker-form-header {
    text-align: center;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;

    width: 80%;
    margin: 40px 0;
    padding: 50px;
}*!

!*.speaker-form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}*!

.speaker-form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;

    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='email'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 15px;
}

@media only screen and (min-width: 700px) {
    .speaker-form-header,
    .speaker-form {
        width: 600px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start; !* To avoid stretching *!
        margin-bottom: 20px;
    }

    .form-row input[type='text'] {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }

    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
    }

    .form-row button {
        margin-left: 120px;
    }

    .legacy-form-row {
        margin-bottom: 10px;
    }

    .legacy-form-row legend {
        width: 120px;
        text-align: right;
        padding-right: 20px;
    }

    .legacy-form-row legend {
        float: left;
    }

    .form-row .instructions{
        margin-left: 120px;
    }

    .form-row .checkbox-label {
        margin-left: 120px;
        width: auto;
    }
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none; !* Remove default red glow in Firefox *!
}

.legacy-form-row {
    border: none;
    margin-bottom: 40px;
}

.legacy-form-row legend {
    margin-bottom: 15px;
}

.legacy-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
}

.legacy-form-row input[type='radio'] {
    margin-top: 2px;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
    float: left;
}

.form-row textarea {
    font-family: "Raleway", "Lato", sans-serif;
    font-size: 14px;

    border: 1px solid #D6D9DC;
    border-radius: 3px;

    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
}

.form-row .instructions {
     color: #999999;
     font-size: 14px;
     margin-bottom: 30px;
 }

.form-row .checkbox-label {
    margin-bottom: 0;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #5995DA;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76AEED;
}

.form-row button:active {
    background-color: #407FC7;
}*/

form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    font-family: "Raleway", "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.3;

    width: 75%;
    padding: 50px;
    margin: 2px auto;
}

.form-row {
    margin-bottom: 40px;
}

.form-row input[type='text'],
.form-row input[type='email'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 15px;
}

@media only screen and (min-width: 700px) {
    .speaker-form-header,
    .speaker-form {
        width: 600px;
    }

    .form-row {
        margin-bottom: 20px;
    }

    .form-row input[type='text'] {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }

    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
    }

    .form-row button {
        margin-left: 120px;
    }

    .legacy-form-row {
        margin-bottom: 10px;
    }

    .legacy-form-row legend {
        width: 120px;
        text-align: right;
        padding-right: 20px;
    }

    .legacy-form-row legend {
        float: left;
    }

    .form-row .instructions{
        margin-left: 120px;
    }

    .form-row .checkbox-label {
        margin-left: 120px;
        width: auto;
    }
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none; /* Remove default red glow in Firefox */
}

.legacy-form-row {
    border: none;
    margin-bottom: 40px;
}

.legacy-form-row legend {
    margin-bottom: 15px;
}

.legacy-form-row .radio-label {
    font-size: 14px;
    padding: 0 20px 0 10px;
}

.legacy-form-row input[type='radio'] {
    margin-top: 2px;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
    float: left;
}

.form-row textarea {
    font-family: "Raleway", "Lato", sans-serif;
    font-size: 14px;

    border: 1px solid #D6D9DC;
    border-radius: 3px;

    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
    width: 100%;
}

.form-row .instructions {
    color: #999999;
    font-size: 14px;
    margin-bottom: 30px;
}

.form-row .checkbox-label {
    margin-bottom: 0;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: rgba(24, 61, 97, 1);

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76AEED;
}

.form-row button:active {
    background-color: #407FC7;
}
