body {
    background-color: #063;
}

#content {
    background-color: white;
    padding: 10px 10px 100px 10px;
    width: 66%;
    margin: 25px;
    float: left;
}

h1, h2 {
    font-family: 'Permanent Marker', Garamond, Serif;
    margin: 25px 5px;
}

h1 {
    text-align: center;
    font-size: 72px;
    margin-bottom: 100px;
}

h2 {
    font-size: 48px;
}

p {
    margin: 5px 25px 25px 150px;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

input {
    border: 10px solid #FC0;
    height: 205px;
    width: 300px;
    margin-top: 125px;
    margin-bottom: 100px;
}

#sidebar {
    position: absolute;
    right: 50px;
}
