/* Color Palette
HSL
Sunglow: hsla(45, 100%, 60%, 1);
Tyrian Purple: hsla(308, 100%, 13%, 1);
Dark Imperial Blue: hsla(210, 60%, 24%, 1);
Dark Spring Green: hsla(147, 67%, 26%, 1);
Vivid Burgundy: hsla(351, 70%, 38%, 1);

RGB
Sunglow: rgba(255, 203, 53, 1);
Tyrian Purple: rgba(66, 0, 57, 1);
Dark Imperial Blue: rgba(24, 61, 97, 1);
Dark Spring Green: rgba(22, 110, 61, 1);
Vivid Burgundy: rgba(167, 29, 49, 1);

Hex
Sunglow: #ffcb35
Tyrian Purple: #420039
Dark Imperial Blue: #183d61
Dark Spring Green: #166e3d
Vivid Burgundy: #a71d31
*/

main, nav, aside, header, footer, article {
    display: block;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background-color: rgba(24, 61, 97, 1) ;
}

/* Header */
header {
    background-color: white;
    text-align: center;
    padding: 5px;
    border: 30px;
   /* border-top-left-radius: 30px;
    border-top-right-radius: 30px;*/
}

header h1 {
    color: black;
    font-size: 65px;
}

/* Nav bar */
/* The navbar container */
nav {
    overflow: hidden;
    width: auto;
 /*   border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;  */
    background-color: hsla(147, 67%, 26%, 1);
}

/* Navbar links */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid white;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
nav a:hover {
    background-color: rgba(255, 203, 53, .85);
    color: black;
}
/* Active link is shown differently */
#currentPage {
    background-color: rgba(255, 203, 53, 1);
    color: black;
}

/* Footer */
footer {
    background-color: rgb(251, 251, 255);
    text-align: center;
    padding: 10px;
    margin: 25px;
/*    border-radius: 30px; */
    clear: both;
}


/* Text */
p {
    font-size: 16px;
}

h1, h2, h3 {
    font-family: Garamond, serif;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}


/* Main Content */
main {
    background-color: white;
    width: 75%;
    margin: 15px;
    padding: 20px;
/*    border-radius: 10px; */
    float: left;
}

/* Aside Table of Contents */
aside {
    background-color: white;
    margin: 15px;
    padding: 20px;
/*    border-radius: 10px; */
    width: 20%;
    float: left;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 2px solid hsla(308, 100%, 13%, 1);
}

aside li {
    border-bottom: 1px solid hsla(308, 100%, 13%, 1);
}

aside li:last-child {
    border-bottom: none;
}

aside li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: hsla(308, 100%, 13%, .25);
}

/* Change the link color on hover */
aside li a:hover {
    background-color: hsla(308, 100%, 13%, 1);
    color: white;
}



/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
    aside, main {
        width: 100%;
    }
}
*/

